/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.containerAbout {
    padding: 20px;
}

/* Navbar styles */
#navbar {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.title {
    height: 90px;
    width: 90px;
}

.title img {
    width: 100%;
    height: 100%;
}
.nav {
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
    transition: transform 0.3s ease; /* Added transition */
}

.nav li:hover {
    transform: translateY(-3px); /* Added hover effect */
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav a:hover {
    color: #007bff; /* Change color on hover */
}