/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* Body styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

.containerAbout {
    padding: 20px;
}
@media only screen and (max-width: 768px) {
    .containerAbout {
        padding: 10px; /* Reduce padding for smaller screens */
    }
}
/* Navbar styles */
#navbar {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.title {
    height: 90px;
    width: 90px;
}

.title img {
    width: 100%;
    height: 100%;
}
.nav {
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
    transition: transform 0.3s ease; /* Added transition */
}

.nav li:hover {
    transform: translateY(-3px); /* Added hover effect */
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav a:hover {
    color: #007bff; /* Change color on hover */
}
/* Media query for mobile devices */
@media (max-width: 768px) {
    #navbar {
        display: flex;
        height: 40px;
        align-items: center;
        margin: 20px;
    }

    .title {
        height: 60px;
        width: 60px;
    }

    .nav {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }

    .nav li {
        margin: 5px;
    }
}
/* Slider styles */
.frontSlider {
    margin-bottom: 20px;
    /* height: 90vh; */
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border: 1px solid #ccc;
}
.swiper-slide img{
    height: 100%;
    width: 100%;
}
/* Media query for mobile */
@media only screen and (max-width: 768px) {
    .swiper-slide {
        height: auto !important; /* Adjust height based on image aspect ratio */
    }
    .swiper-slide img {
        height: auto !important;
        width: 100%;
        object-fit: contain; /* or 'scale-down' */
    }
}


.slideContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 59px;
    font-weight: bold;
}


.aswiper-slide {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.responsiveImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(-30%);
    filter: brightness(0.5);
}

/* Swiper pagination styles */
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Swiper button styles */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0,0,0, 50%);
    cursor: pointer;
}

/* .swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

/* Swiper scrollbar styles */
/* .swiper-scrollbar {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
} */ 
/* Media query for mobile devices */
@media (max-width: 768px) {

    .aswiper-slide {
        max-height: none;
    }

    .responsiveImage {
        transform: translateY(0);
    }
    .slideContent {
        font-size: 24px;  
        padding: 10px; 
    }
    .containerAbout {
        padding: 20px; /* Reduced padding to reduce space */
    }
}


/* Notice Board */

/* ContainerNotice styles */
.noticeContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
}

.noticeTitle {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    margin-top: 20px;
}


/* HighlightArticle */
.highlightArticle {
    flex-basis: 45%; /* Adjust width of the highlight article */
    margin-right: 40px;
    margin-left:20px;
}

.articleImage img {
    width: 100%;
    height: 100%;
 
}


.articleInfo {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articleTitle {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.articlePublished {
    margin-bottom: 10px;
}

.readMoreButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.readMoreButton:hover {
    background-color: #0056b3;
}

/* ArticleList styles */
.articleList {
    flex-basis: 35%; /* Adjust width of the article list */
}

.articleItem {
    margin-bottom: 20px;
}

.articleName {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.articleDate {
    margin-bottom: 5px;
}
/* Media query for mobile */
@media only screen and (max-width: 768px) {
    .noticeContainer {
        flex-direction: column;
        align-items: center;
    }

    .highlightArticle {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .articleImage img {
        width: 100%;
        height: auto;
    }

    .articleInfo {
        margin-bottom: 20px;
    }

    .articleList {
        flex-basis: 100%;
    }
}
/* Gallery */

.containerPhotos {
    padding: 20px;
}

.photosTitle {
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.galleryItem {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.galleryItem img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}

.galleryItem:hover img {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    text-align: center;
}

.lightboxImage {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    margin-top: 5%;
}

.close {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

/* FORMS */

.containerMain {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.containerForm {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

.formContainer {
    width: 70%;
    margin: 0 auto; /* Center the container */
}

.formContainer form {
    width: 100%; /* Set to 100% to fill the container */
    padding: 20px;
    background:#f2f2f2;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.containerForm h1 {
    text-align: center;
    margin-bottom: 20px;
}

.containerForm .form-group {
    margin-bottom: 20px;
}

.containerForm label {
    display: block;
    font-weight: bold;
}

.containerForm input[type="text"],
.containerForm input[type="email"],
.containerForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background:#f2f2f2;
    border-radius: 5px;
}

.containerForm textarea {
    resize: vertical;
}

.containerForm button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.containerForm button[type="submit"]:hover {
    background-color: #0056b3;
}


/* About Us */

.containerAbout {
    padding: 40px;
}
.acontainerAbout {
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.acontainerAbout h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
}

.containerAbout h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
}

.aboutContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutImage {
    flex: 1;
    margin-right: 40px;
}

.aboutImage img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.aboutImage img:hover {
    transform: scale(1.05);
}

.aboutText {
    flex: 2;
}

.aboutText p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.btnLearnMore {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnLearnMore:hover {
    background-color: #0056b3;
}

/* Media query for mobile devices */
@media (max-width: 768px){
    
    .acontainerAbout h1 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 20px;
        color: #333;
    }
     .aboutContent {
        flex-direction: column;
        align-items: center;
    }

    .aboutImage {
        margin-left:50px;
        margin-bottom: 20px;
         display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .aboutText {
        text-align: center;
    }
    
    .aboutImage img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .aboutText p {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.6;
    }

    .btnLearnMore {
        padding: 8px 16px;
        font-size: 14px;
    }
}
/* Footer */

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    margin-top: auto;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footerLogo h3 {
    margin-left: 10px;
}

.footerLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerLinks ul li {
    display: inline-block;
    margin-right: 20px;
}

.footerLinks ul li:last-child {
    margin-right: 0;
}

.footerLinks ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footerLinks ul li a:hover {
    color: #007bff;
}
.footerSocial {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: auto; 
}
.footerSocial ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerSocial ul li {
    display: inline-block;
    margin-right: 10px;
}

.footerSocial ul li:last-child {
    margin-right: 0;
}

.footerSocial ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footerSocial ul li a:hover {
    color: #007bff;
}

.footerBottom {
    text-align: center;
    margin-top: 20px;
}
/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .formContainer {
        width: 100%;
    }

    .containerForm button[type="submit"] {
        width: 100%;
    }

    .footerContainer {
        flex-direction: column;
        text-align: center;
    }

    .footerLinks ul {
        margin-bottom: 20px;
    }

    .footerLinks ul li {
        display: block;
        margin: 0 auto 10px auto;
    }

    .footerSocial ul {
        margin-top: 20px;
    }

    .footerSocial ul li {
        display: block;
        margin: 0 auto 10px auto;
    }
}

 /* About Us Different Page*/
 .executive {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}
#etitle {
    padding-top: 40px;
    color: #333;
    text-align: center;
}
#pexecutive{
    color: #666;
    line-height: 1.5;

}
.members {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Allow wrapping to the next line */
}

/* .memberBoxfounder {
    width: 300px;
    height: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 20px;  
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto; 
    margin-bottom: 40px;
    margin-top: 40px;
} */


.memberBox:hover {
    transform: scale(1.05);
}

.memberBox {
    width: calc(33.33% - 20px);
    height: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* margin-left: 20px;  */
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 40px;
    margin-top: 40px;
}
.memberslt {
    display: flex;
    justify-content: flex-start; /* Center the items horizontally */
    flex-wrap: wrap; /* Allow wrapping to the next line */
}

.memberBoxlast {
    width: calc(33.33% - 20px);
    height: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* margin-left: 20px;  */
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 0 10px 20px 10px; 

}

/* .memberBox {
    width: 300px;
    height: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
     margin-left: 20px;  
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto; 
    margin-bottom: 40px;
    margin-top: 40px;
} */
.name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #101218;
}

.position {
    font-size: 18px;
    color: #4c5253;
}

.description {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #4c5253;
}
/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .memberBox {
        width: calc(100% - 20px);
        margin: 0 10px 20px 10px;
    }
    .memberBoxlast {
        width: calc(100% - 20px);
        margin: 0 10px 20px 10px;
    }
    .name {
        font-size: 20px;
    }
    .position {
        font-size: 14px;
    }
    .description {
        font-size: 12px;
    }
}